@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
  /*
    修复问题：日期范围选择器的placehorder未垂直居中
    涉及页面：所有包含日期范围选择器的页面
  */
  input[placeholder='开始日期'],
  input[placeholder='结束日期'] {
    line-height: 1.286 !important;
  }
  /*
    修复问题：单号和货物RFID显示重叠
    涉及页面：订单操作页面
  */
  td.ant-table-cell {
    word-break: break-all;
  }
  /*
    修复问题：邮件配置的发送日期菜单项未垂直居中
    涉及页面：包含邮件配置的页面
  */
  .ant-input-group {
    display: flex !important;
  }
  /*
    修复问题：报表服务下收件人选择多个收件人超出边框
    涉及页面：所有包含邮件配置的页面
  */
  .dc-email-config-recipients-select {
    width: 295px !important;
  }
}

// :global(.ant-pro-page-header-wrap-content) {
//
// }

:global(.dc-pageHeaderWrapper-fix-ahead-panel) {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 64px;
  padding-left: 16px;
  line-height: 64px;
}

// Variables
@headerContent-input-right-margin: 32px;
@headerContent-btn-right-margin: 16px;

:global(.dc-headerContent-wrapper) {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #eceff3;
  padding-top: 16px;
  margin-top: 4px;
  & > div {
    margin-right: @headerContent-input-right-margin;
  }
  & > button {
    margin-right: @headerContent-btn-right-margin;
  }
  & > input[type='text'] {
    max-width: 200px;
    margin-right: @headerContent-input-right-margin;
  }
}

// 侧边栏上的logo尺寸覆盖
:global(.ant-pro-sider-menu-logo) {
  padding: 0 16px 0 16px !important;
  & img {
    height: 26px !important;
  }
}
